body {
  font-family: sans-serif;
  font-size: 0.75em;
  margin: 0;
}

img {
  border-color: transparent;
  border-width: 0;
}

ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

a {
  color: #002233;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

#container {
  margin: 0 auto 1em auto;
  position: relative;
  width: 763px;
}

#header {
  /* text-align: right; */
  /* height: 100px; */
  /* margin-bottom: 15px; */
}

#logo img {
  left: 0px;
  position: absolute;
}

.top-navigation {
  margin-top: 0;
  padding: 0 0 0 1em;
  background-color: #5599BB;
  display: inline-block;
}

.top-navigation * {
  display: inline;
}

.top-navigation li a, .top-navigation li span {
  margin-right: 1em;
  padding: 0.75em 0.15em;
  border: 1px solid transparent;
  font-weight: bold;
  display: inline-block;
  color: #fff;
}

#middle {
  padding: 1em;
}

.hello h1 {
  font-size: 2.5em;
}

.hello h2 {
  font-size: 1.8em;
}

.hello ol {
  font-size: 2em;
}

a.invert {
  display: inline-block;
  color: #fff;
  background-color: #002233;
  padding: 0.5em 1em;
}

a.invert:hover {
  background-color: #5599BB;
}

.hello .start {
  margin-bottom: 4em;
}

.raffle {
  margin: 1em 0 2em 0;
}

.raffle .ad {
  font-size: 1.2em;
}

.time {
  display: block;
  color: #999999;
  font-style: italic;
  font-size: 0.9em;
}

.participant {
  border-bottom:1px dashed #999999;
  padding:0.7em 0 0.6em;
}

.participant .thumb {
  display: block;
  height: 50px;
  left: 1em;
  margin: 0 10px 0 5px;
  overflow: hidden;
  position: absolute;
  width: 50px;
}

.participant .body {
  display: block;
  margin-left: 65px;
  min-height: 50px;
  overflow: hidden;
}

#footer {
  padding-top: 1em;
  font-size: 0.9em;
  text-align: center;
}

.notice {
  display: inline-block;
  background: #FFF6BF none repeat scroll 0 0;
  border: 2px solid #FFD324;
  padding: 0.8em;
  color: #514721;
}

.winner .thumb {
  left: 2em;
}

.winner .participant {
  border: none;
  padding: 0;
}

.pagination {
  background: white;
  margin: 2em 0;
}

.pagination a, .pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; 
}

.pagination span.disabled {
  color: #999;
  border: 1px solid #999; 
}

.pagination span.current {
  font-weight: bold;
  background: #5599BB;
  color: white;
  border: 1px solid #5599BB; 
}

.pagination a {
  text-decoration: none;
  color: #5599BB;
  border: 1px solid #105CB6; 
}

.pagination a:hover, .pagination a:focus {
  color: #002233;
  border-color: #002233; 
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .pagination {
  height: 1%; 
}

*:first-child+html .pagination {
  overflow: hidden; 
}
